body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
/* Reset CSS */
body, h1, h2, h3, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}


h1, h2, h3 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
    text-align:justify;
}

/* Table styles */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* Container */
.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Heading */
h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
}

p.lead {
    font-size: 1.25rem;
    color: #6c757d;
}

/* Steps Wrap */
.row.justify-content-center {
    margin-top: 30px;
}

/* Step Card */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 40px; /* Adjust the value as needed */

}

.card h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
}

.card p {
    font-size: 1rem;
    color: #6c757d;
}

/* Step Circle */
.d-flex.rounded-circle {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Step Number */
.fs-3 {
    font-size: 1.5rem;
}

/* Step Icon Background */
.bg-success {
    background-color: #28a745;
}

/* Step Icon Text */
.text-white {
    color: #fff;
}

