<link rel="stylesheet" type="text/css" href="static/css/gioithieu.css">
<body>
    {% include 'header.html' %}
<div class="container">
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center text-center mb-4 mb-md-5">
                <div class="col-xl-9 col-xxl-8">
                    <h2 class="display-5 fw-bold">Giới Thiệu Chung</h2>
                    <p class="lead">Khoa Tim mạch Bệnh viện HNĐK Nghệ An được thành lập năm 1991. Ban đầu khoa có 5 bác sĩ và 12 điều dưỡng viên, với nhiệm vụ là khám và điều trị bệnh lý tim mạch cho nhân dân tỉnh Nghệ Tĩnh. Trang thiết bị ban đầu hết sức thô sơ, chỉ với 01 máy điện tim 1 cần được viện trợ từ Ba lan. Trải qua 25 năm hình thành và phát triển, đến nay khoa Tim mạch Bệnh viện HNĐK Nghệ An đã có một đội ngũ nhân lực chuyên môn vững vàng với đầy đủ trang thiết bị hiện đại, đảm nhiệm phục vụ tốt công tác khám chữa bệnh chuyên khoa tim mạch cho nhân dân. Hiện nay, với  chỉ tiêu 105 giường bệnh, nhưng số bệnh nhân điều trị tại khoa luôn đạt 150-160% chỉ tiêu giường bệnh được giao.</p>
                </div>
            </div>
            <div class="row g-0 align-items-center">
                <div class="col-md-6"><img alt="" class="img-fluid" src="static/images/gioiThieu.png"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-12 col-xxl-10 col-xl-12">
                            <div class="p-md-3 p-xl-5 mt-4 mt-md-0">
                                <p class="my-4">Trong những năm qua, được sự quan tâm của các cấp, các ngành, đặc biệt là sự quan tâm chỉ đạo sát sao thường xuyên của Ban Chấp hành Đảng ủy, ban Giám đốc Bệnh viện trong việc đầu tư trang thiết bị hiện đại, đào tạo nhân lực chuyên sâu và sự quyết tâm, nỗ lực phấn đấu của tập thể khoa Tim mạch, khoa đã từng bước thực hiện được những bước tiến vượt bậc trong chuyên môn, nhiều kỹ thuật mới được triển khai như: Chụp và can thiệp đặt stent động mạch vành, can thiệp điều trị bệnh tim bẩm sinh, can thiệp điều trị loạn nhịp tim, chụp và can thiệp điều trị bệnh động mạch ngoại biên, phối hợp với khoa Ngoại Tim mạch phẫu thuật tim hở…</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0 align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="row justify-content-end">
                        <div class="col-lg-12 col-xxl-10 col-xl-12">
                            <div class="p-md-3 p-xl-5 mt-4 mt-md-0">                              
                                <p class="my-4">Khoa Tim mach đang từng bước khẳng định vai trò của mình trong bệnh viện, nhiều năm liền Chi bộ và khoa được công nhận trong sạch vững mạnh tiêu biểu, tập thể lao động xuất sắc… được trao tặng nhiều bằng khen của bệnh viện, của Sở Y tế, của UBND Tỉnh. Trưởng khoa Phạm Hồng Phương vinh dự được Nhà nước phong tặng danh hiệu thầy thuốc ưu tú.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="mt-5 mt-md-0"><img alt="" class="img-fluid" src="static/images/gioiThieu_1.png"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center text-center mb-4 mb-md-5">
                <div class="col-xl-9 col-xxl-8">
                    <h2 class="display-5 fw-bold">Nhân Sự Của Khoa</h2>
                    <p class="lead">Hiện nay, Khoa Tim mạch gồm có 37 y - bác sĩ, điều dưỡng phục vụ trong lĩnh vực y tế. Sứ mệnh của chúng tôi là mang đến các dịch vụ chăm sóc y tế vượt trội bằng cách không ngừng cập nhật các phương pháp khám chữa bệnh hiện đại và tối ưu, đảm bảo đầu tư phát triển liên tục về khoa học công nghệ cao và kiến thức mới.</p>
                </div>
            </div>
            <div class="row justify-content-center text-center mb-4 mb-md-5">
                <div class="col-xl-9 col-xxl-8">
                    <br><h3 class="display-5 fw-bold">Trưởng Khoa Qua Các Thời Kỳ</h3>
                </div>
            </div>
                <div class="row align-items-center justify-content-center" style="display: flex; justify-content: center; align-items: center; height: auto;">
                    <div class="col-md-8 col-lg-7 order-2 order-md-1">
                        <div class="card-body ms-md-5 mt-3 mt-md-0">
                            <div class="text-muted">
                                Trưởng Khoa
                            </div>
                            <h4 class="fw-bold m-0 mb-4">Lê Song Côn, sinh năm 1936.</h4>
                            <p class="lead">Trưởng khoa từ năm 1991 – 2000. Có nhiều thành tích nổi bật. Ông đã dành hết tâm huyết và nỗ lực của mình để chăm sóc và điều trị cho bệnh nhân tại khoa Tim mạch. Sự cống hiến và sự nỗ lực không ngừng này đã góp phần làm nên thành công và uy tín của khoa trong những năm đầu hoạt động.</p>
                            <div class="d-flex mt-4">
                                <a class="btn btn-sm me-2" href=""><svg class="bi bi-facebook" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path></svg></a> <a class="btn btn-sm me-2" href=""><svg class="bi bi-twitter" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path></svg></a> <a class="btn btn-sm" href=""><svg class="bi bi-linkedin" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 order-1 order-md-2"><img alt="..." class="img-fluid rounded-circle" src="static/images/minhHoa.png"></div>
                </div>
                <div class="row align-items-center justify-content-center" style="display: flex; justify-content: center; align-items: center; height: auto;">
                    <div class="col-md-4 col-lg-3 order-1 order-md-1"><img alt="..." class="img-fluid rounded-circle" src="static/images/minhHoa_1.png"></div>
                    <div class="col-md-8 col-lg-7 order-2 order-md-2">
                        <div class="card-body ms-md-5 mt-3 mt-md-0">
                            <div class="text-muted">
                                Trưởng Khoa
                            </div>
                            <h4 class="fw-bold m-0 mb-4">Đậu Thị Lan, sinh năm 1950</h4>
                            <p class="lead">Trưởng khoa từ năm 2000 – 2005. Trong thời gian này, bà đã chịu trách nhiệm lãnh đạo và tổ chức các hoạt động của khoa một cách hiệu quả, đồng thời đảm bảo chất lượng dịch vụ y tế cho bệnh nhân. Sự nỗ lực và tâm huyết của Đậu Thị Lan đã góp phần làm cho khoa Tim mạch ngày càng phát triển và nâng cao uy tín trong cộng đồng y học.</p>
                            <div class="d-flex mt-4">
                                <a class="btn btn-sm me-2" href=""><svg class="bi bi-facebook" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path></svg></a> <a class="btn btn-sm me-2" href=""><svg class="bi bi-twitter" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path></svg></a> <a class="btn btn-sm" href=""><svg class="bi bi-linkedin" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center" style="display: flex; justify-content: center; align-items: center; height: auto;">
                    <div class="col-md-8 col-lg-7 order-2 order-md-1">
                        <div class="card-body ms-md-5 mt-3 mt-md-0">
                            <div class="text-muted">
                                Trưởng Khoa
                            </div>
                            <h4 class="fw-bold m-0 mb-4">Phạm Hồng Phương, sinh năm 1968</h4>
                            <p class="lead">Trưởng khoa Tim mạch từ năm 2005 – 2006. Phạm Hồng Phương được công nhận với những cống hiến lớn cho ngành y và cho cộng đồng, qua đó đem lại nhiều lợi ích cho bệnh nhân. Sự nhiệt huyết, kiến thức chuyên môn và tâm hồn y đức của ông đã giúp nâng cao uy tín và tiếng tăm của khoa Tim mạch, đồng thời góp phần vào việc cải thiện sức khỏe và chất lượng cuộc sống của người dân.</p>
                            <div class="d-flex mt-4">
                                <a class="btn btn-sm me-2" href=""><svg class="bi bi-facebook" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path></svg></a> <a class="btn btn-sm me-2" href=""><svg class="bi bi-twitter" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path></svg></a> <a class="btn btn-sm" href=""><svg class="bi bi-linkedin" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 order-1 order-md-2"><img alt="..." class="img-fluid rounded-circle" src="static/images/minhHoa.png"></div>
                </div>
                <div class="row align-items-center justify-content-center" style="display: flex; justify-content: center; align-items: center; height: auto;">
                    <div class="col-md-4 col-lg-3 order-1 order-md-1"><img alt="..." class="img-fluid rounded-circle" src="static/images/minhHoa.png"></div>
                    <div class="col-md-8 col-lg-7 order-2 order-md-2">
                        <div class="card-body ms-md-5 mt-3 mt-md-0">
                            <div class="text-muted">
                                Trưởng Khoa
                            </div>
                            <h4 class="fw-bold m-0 mb-4">Phạm Hồng Phương, Trưởng khoa từ 2006 – nay.</h4>
                            <p class="lead">Trưởng khoa Tim mạch tử năm 2005 – 2006. Sau đó tiếp tục giữ vị trí này từ năm 2006 đến thời điểm hiện tại, là một nhân vật quan trọng và có ảnh hưởng lớn đối với sự phát triển của khoa Tim mạch. Dưới sự lãnh đạo của Phạm Hồng Phương, khoa đã tiếp tục cải thiện và mở rộng dịch vụ y tế, nâng cao chất lượng chăm sóc bệnh nhân và phát triển các phương pháp điều trị mới.</p>
                            <div class="d-flex mt-4">
                                <a class="btn btn-sm me-2" href=""><svg class="bi bi-facebook" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path></svg></a> <a class="btn btn-sm me-2" href=""><svg class="bi bi-twitter" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path></svg></a> <a class="btn btn-sm" href=""><svg class="bi bi-linkedin" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path></svg></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container justify-content-center">
            <div class="row justify-content-center text-center mb-4 mb-md-5">
                <div class="col-xl-9 col-xxl-8">
                    <h2 class="display-5 fw-bold">Trang Thiết Bị</h2>
                    <p class="lead mb-4">Khoa Tim mạch hiện đang trang bị một loạt các thiết bị và công cụ tiên tiến nhằm cung cấp dịch vụ khám và điều trị cho các bệnh nhân có liên quan đến vấn đề tim mạch. Nhờ vào sự hiện đại và đa dạng của các trang thiết bị này, chúng tôi có thể đáp ứng được nhu cầu y tế và mang lại hiệu quả cao trong quá trình chăm sóc sức khỏe cho bệnh nhân. </p><br><br><br>
                </div>
            </div><!-- Steps Wrap -->
            <div class="row justify-content-center" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                <div class="col-md-6">
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            1
                        </div>
                        <h5 class="mt-3">Hệ thống chụp mạch DSA</h5>
                        <p class="text-muted text-center">Sử dụng để tạo hình ảnh chính xác của các động mạch vành.</p>
                    </div>
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            2
                        </div>
                        <h5 class="mt-3">Máy điện tim 6 cần</h5>
                        <p class="text-muted text-center">Thiết bị can thiệp điều trị các vấn đề nhịp tim và tuần hoàn máu.</p>
                    </div>
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            3
                        </div>
                        <h5 class="mt-3">Máy siêu âm tim Doppler màu</h5>
                        <p class="text-muted text-center">Cung cấp hình ảnh chất lượng cao và chẩn đoán bệnh tim mạch qua sóng siêu âm.</p>
                    </div>
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            4
                        </div>
                        <h5 class="mt-3">Máy truyền dịch</h5>
                        <p class="text-muted text-center">Dùng để cung cấp dung dịch và thuốc vào cơ thể theo đúng liều lượng và thời gian.</p>
                    </div>
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            5
                        </div>
                        <h5 class="mt-3">Bơm tiêm điện (để đưa một liều lượng thuốc vào cơ thể/thời gian nhất định)</h5>
                        <p class="text-muted text-center">Điều chỉnh liều lượng thuốc và thời gian tiêm vào cơ thể một cách tự động và chính xác.</p>
                    </div>
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            6
                        </div>
                        <h5 class="mt-3">Monitor giúp theo dõi nhịp tim, huyết áp liên tục</h5>
                        <p class="text-muted text-center">Theo dõi và ghi lại nhịp tim và huyết áp của bệnh nhân trong thời gian thực.</p>
                    </div>
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            7
                        </div>
                        <h5 class="mt-3">Máy sốc điện đồng bộ</h5>
                        <p class="text-muted text-center">Sử dụng để điều trị các tình trạng loạn nhịp tim cấp cứu bằng cách cung cấp dòng điện nhất định.</p>
                    </div>
                    <!-- Step -->
                    <div class="card rounded-0 text-center p-3 bg-light px-5 mb-5">
                        <div class="d-flex rounded-circle mx-auto align-items-center justify-content-center text-white fs-3 fw-bold bg-success border border-white border-4" style="width: 4rem; height:4rem; margin-top: -3rem;">
                            8
                        </div>
                        <h5 class="mt-3">Hệ thống Holter điện tim và Holter huyết áp (giúp theo dõi điện tim đồ và huyết áp 24/24h)</h5>
                        <p class="text-muted text-center">Theo dõi và ghi lại dữ liệu về điện tim và huyết áp của bệnh nhân trong suốt 24 giờ để phát hiện và chẩn đoán các vấn đề tim mạch.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center text-center mb-4 mb-md-5">
                <div class="col-xl-9 col-xxl-8">
                    <br><br><br><br><br>
                    <h2 class="display-5 fw-bold">Thành tích khoa đã đạt được</h2>
                    <p class="lead mb-4 text-center">Trong 11 năm liền ( từ 2004-2015) tập thể khoa đều đạt loại xuất sắc và đạt danh hiệu tập thể lao động giỏi.</p>
                </div>
            </div>
        </div>
    </section>
    
</div>
{% include 'footer.html' %}
</body>
    