<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

</head>
<body>
    {% include 'header.html' %}
    <style>
        

        .container {
            text-align: center;
        }

        h1 {
            font-size: 5rem;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        a {
            color: #a5c422;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>Xin lỗi, trang bạn đang tìm kiếm không tồn tại.</p>
        <p>Vui lòng <a href="/">quay lại trang chủ</a> hoặc <a href="javascript:history.back()">quay lại trang trước đó</a>.</p>
    </div>
</body>
</html>
